<div id="<%= dom_id customer %>">
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= customer.dob %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= customer.tel %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= customer.description %>
  </p>

</div>
